<%= form_for(@user) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_area :email %>
  </div>
    <%= f.submit %>
  </div>
<% end %>
