

<p>
  <h2>Email:</h2>
  <%= @user.email %>
</p>

<p>
  <table>
    <thead>
    <h2>Saved Articles:</h2>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Link</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <% @user.articles.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td><%= article.author %></td>
          <td><%= link_to 'Link', ("http://www.ncbi.nlm.nih.gov/pubmed/?term=" + "#{article.uid}") %></td>
          <td><%= link_to 'remove', edit_saved_article_path(article.id) %></td>
        </tr>
      <% end %>
    </tbody>
</table>
</p>

<p>
  <h2>Primers:</h2>
    <% @user.primers.each do |primer| %>
      <ul class="primers">
      <li class="primer">sequence:<%= primer.primer_seq.upcase %> note: <%= primer.note %> (<%= link_to 'Details', primer %>| <%= link_to 'Edit', edit_primer_path(primer) %> | <%= link_to 'Destroy', primer, method: :delete, data: { confirm: 'Are you sure?' } %>)
      </li>
      </ul>
  <% end %>
</p>

<%= link_to 'New Primer', new_primer_path %>

