

<section class="profile-info">
  <h1>Email:</h1>
  <p><%= @user.email %></p>
</section>

<section class="publications">
  <h1>Saved Publications:</h1>
    <div class="panel-heading">
      <p>the papers you have saved:</p>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Remove?</th>
        </tr>
      </thead>
      <tbody>
        <% @user.articles.each do |article| %>
          <tr>
            <td><%= article.title %> <br> <%= link_to "to the paper...", ("http://www.ncbi.nlm.nih.gov/pubmed/?term=" + "#{article.uid}"), :target => "_blank" %></td>
            <td class="text-justify" ><%= article.author %></td>
            <td><%= link_to 'remove', edit_saved_article_path(article.id), :class => "btn btn-primary btn-sm" %></td>
          </tr>
        <% end %>
      </tbody>
  </table>
</section>

<section class="primers-user-display">
  <h1>Primers:</h1>
  <p><%= link_to 'New Primer', new_primer_path, :class => "btn btn-primary btn-sm" %></p>
  <div class="row">
  <% @user.primers.each do |primer| %>
    <div class="col-md-4">
        <dl class="primers">
        <dt>sequence:</dt>
          <dd><%= primer.primer_seq.upcase %></dd>
        <dt>created on:</dt>
          <dd><%= primer.created_at.strftime("created on %m/%d/%Y") %></dd>
        <dt>note:</dt>
          <dd><%= primer.note %></dd>
        <dt>more info:</dt>
          <dd>(<%= link_to 'Details', primer %>| <%= link_to 'Edit', edit_primer_path(primer) %> | <%= link_to 'Destroy', primer, method: :delete, data: { confirm: 'Are you sure?' } %>)<dd>
        </dl>
      </div>
      <% end %>
    </div>
</section>















