<section class="description">
  <h1>What is PCR Station?</h1>
    <p>PCR station is a rescoures for people to learn about and explore the polymerase chain reaction, there are now modified versions of this method which are also hugely important in their own right( such as real-time PCR) but this site will deal mainly with conventional Polymerase Chain Reaction </p>
    <p>In it's Most Basic Form PCR is the method a researcher would use to amplify or make many copies of a DNA sequence for study.</p>
</section>
<section class="over-view">
<h1>Overview of PCR</h1>
  <blockquote>
  <p>The polymerase chain reaction (PCR) is a biochemical technology in molecular biology to amplify a single or a few copies of a piece of DNA across several orders of magnitude, generating thousands to millions of copies of a particular DNA sequence.
  Developed in 1983 by Kary Mullis, PCR is now a common and often indispensable technique used in medical and biological research labs for a variety of applications. These include DNA cloning for sequencing, DNA-based phylogeny, or functional analysis of genes; the diagnosis of hereditary diseases; the identification of genetic fingerprints (used in forensic sciences and paternity testing); and the detection and diagnosis of infectious diseases. In 1993, Mullis was awarded the Nobel Prize in Chemistry along with Michael Smith for his work on PCR.</p>
  </blockquote>
  <p><%= link_to 'more information...', "http://en.wikipedia.org/wiki/Polymerase_chain_reaction", :target => "_blank" %></p>
</section>

<section class="publications">
<h1>Top New Publications</h1>
  <div class="panel-heading">
    <p>the new PubMed Publications Using a PCR method!</p>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Save</th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td><%= article.title %> <br> <%= link_to "to the paper...", ("http://www.ncbi.nlm.nih.gov/pubmed/?term=" + "#{article.uid}"), :target => "_blank" %></td>
          <td class="text-justify" ><%= article.author %></td>
          <td><%= link_to "Save", { :controller => "saved_articles", :action => "create", :article_id => article.id }, method: :post, :class => "btn btn-primary btn-sm" %><td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>



