<%= form_for(@primer) do |f| %>
  <% if @primer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@primer.errors.count, "error") %> prohibited this primer from being saved:</h2>

      <ul>
      <% @primer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
  <i>Please enter some information about this primer (example: Name of Organism, Gene of Interest, directionality (forward or reverse).</i>
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>
  <div class="field">
  <i>Please enter a DNA sequence between 1 and 30 bases long ( A, T, C, G ) - this step is not case senstive.</i>
    <%= f.label :primer_seq %><br>
    <%= f.text_area :primer_seq %>
  </div>
    <p><%= f.submit "Create Primer", :class => "btn btn-primary btn-sm" %></p>
<% end %>
