<h1> Primer Summary Page</h1>
<h3>Note:</h3>
<p> <%= @primer.note %> </p>
<p><%= @primer.created_at.strftime("created on %m/%d/%Y")  %></p>
<ul>
	<li>
		<h3>Primer seq:</h3>
			<p><%= @primer.primer_seq.upcase %></p>
	</li>
	<li>
		<h3>Percent GC Content:</h3>
		<p><%= Bio::Sequence::NA.new("#{@primer.primer_seq}").gc_percent %>% </p>
	</li>
	<li>
		<h3>Length:</h3>
		<p><%= @primer.primer_seq.length %> bases </p>
	</li>
	<li>
		<h3>Melting Temp:</h3>
		<p>note that with any sequence more than 14 bases assumes that the reaction is carried out in the presence of 50mM monovalent cations </p>
		<p><%= melting_temp(@primer.primer_seq).round %> C </p>
	</li>
	<li>
		<h3>Molecular Weight :</h3>
		<p><%= molecular_weight(@primer.primer_seq).round %> Daltons </p>
	</li>
<ul>

<%= link_to 'Edit', edit_primer_path(@primer), :class => "btn btn-primary btn-sm" %>



