<%= form_for(@primer) do |f| %>
  <% if @primer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@primer.errors.count, "error") %> prohibited this primer from being saved:</h2>

      <ul>
      <% @primer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>
  <div class="field">
    <%= f.label :primer_seq %><br>
    <%= f.text_area :primer_seq %>
  </div>
  <div class="hidden filed">
  <% if user_signed_in? %>
    <%= hidden_field_tag "user_id", current_user.id %>
  <% else %>
    <%= link_to "sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
