<h1> Primer Summary Page</h1>
<h3>Note:</h3>
<p> <%= @primer.note %> </p>

<ul>
	<li>
		<h3>Primer seq:</h3>
			<p><%= @primer.primer_seq.upcase %>
	</li>
	<li>
		<h3>Percetn GC Content:</h3>
		<p><%= Bio::Sequence::NA.new("#{@primer.primer_seq}").gc_percent %>% </p>
		<h3>Length:</h3>
		<p><%= @primer.primer_seq.length %> bases </p>
	</li>
<ul>

<%= link_to 'Edit', edit_primer_path(@primer) %> |
<%= link_to 'Back', primers_path %>
