<!DOCTYPE html>
<html>
  <head>
    <title>PCR Station</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container">
    <ul class="nav nav-tabs">
      <li><%= link_to'PCR Station Home', articles_path %></li>
      <li><%= link_to 'Detailed PCR Overview', page_path('pcr_detail')%></li>
      <li> <%= link_to 'Create Your Own Primer', new_primer_path %></li>
      <% if user_signed_in? %>
      <li><%= link_to'Your Homepage', user_path(current_user.id) %></li>
      <%else%>
      <li></li>
      <%end%>
    </ul>

    <div class="pull-right">
      <% if user_signed_in? %>
        | Signed in as <%= current_user.email %> |
        | Not you? <%= link_to "sign out", destroy_user_session_path, method: :delete%> |
      <% else %>
       | <%= link_to "Sign Up", new_user_registration_path %> | or | <%= link_to "Sign In?", new_user_session_path %> |
      <% end %>
    </div>

    <h1 class="dna-station" id="linear-grad"> <%= image_tag('dna-flattened.jpg', :class => "dna-station-logo")%> <%='PCR Station'%></h1>

    <% if notice %>
      <p class="notice alert alert-success"><%= notice %></p>
    <%end%>

    <% if alert %>
    <p class="alert alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>

    <div class="pull-right"><%= link_to "back to top", '#' %></div>
    </div>

  </body>

</html>


